/* User-defined CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#sketch-holder {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    background-color: #151515;
    /*Material design*/
  }
  
  #heading {
    color: #BBBBBB;
    opacity: 87%;
    text-align: center;
    padding-top: 10px;
  }

  #second-heading {
    color: #BBBBBB;
    opacity: 87%;
    padding-top: 10px;
  }

  section {
    color: #BBBBBB;
    opacity: 60%;
  }

  #coding {
    color: #121212;
    opacity: 60%;
  }